<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META HTTP-EQUIV="refresh">

<link rel="stylesheet" href="vendor/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet"
    href="vendor/font-awesome/4.6.3/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="css/ballot-designer.css" type="text/css" />

<script src="vendor/jquery/3.1.0/jquery-3.1.0.min.js"></script>
<script src="vendor/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="vendor/angular/1.5.8/angular.min.js"></script>
<script src="js/app/ballot-designer-app.js"></script>
<script src="js/controller/ballot-designer-controller.js"></script>
<script src="js/services/ballot-designer-services3.js"></script>



</head>
<body id="ballotDesignerApp" ng-app="ballotDesigner">
    <div class="wiki-content" ng-controller="ballotDesignerController as vm">
    
        <div class="col-xs-12" id="topPanel">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-9">
                <button class="btn btn-default" ng-click="vm.addSection()"
                    title="Creates a new document section">
                    <span class="fa fa-plus"> Add section </span>
                </button>
                <button class="btn btn-default" ng-click="vm.removeSection()">
                    <span class="fa fa-minus"> Remove section </span>
                </button>
                <button class="btn btn-default" ng-click="vm.moveSectionUp()">
                    <span class="fa fa-arrow-up"> Move up </span>
                </button>
                <button class="btn btn-default" ng-click="vm.moveSectionDown()">
                    <span class="fa fa-arrow-down"> Move down </span>
                </button>
                <div class="btn-group smtt-dropdown">
                    <button class="btn btn-default dropdown-toggle"
                        type="button" data-toggle="dropdown"
                        aria-expanded="false" aria-haspopup="true"
                        ng-click="vm.oneColumn()">
                        <span class="fa fa-columns"> Columns </span> <span
                            class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="vm.oneColumn()">One column</a></li>
                        <li><a ng-click="vm.twoColumns()">Two columns</a></li>
                        <li><a ng-click="vm.threeColumns()">Three columns</a></li>
                    </ul>
                </div>
                <button class="btn btn-default" ng-click="vm.test()" title="Undo last action">
                    <span class="fa fa-undo"> Undo </span>
                </button>
                <button class="btn btn-default" ng-click="vm.printPreview()" id="btnPrint">
                    <span class="fa fa-file-image-o"> Preview </span>
                </button>
                <div class="btn-group smtt-dropdown">
                    <button class="btn btn-default dropdown-toggle"
                        type="button" id="page-configuration"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true">
                        <span class="fa fa-cog"> </span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a data-target="#page-format-modal" data-toggle="modal">Page format</a></li>
                        <li><a data-target="#fiduciary-modal" data-toggle="modal">Fiduciary marks</a></li>
                    </ul>
                </div>
                <br>
                <br>
            </div>
        </div>
    
        <div class="col-xs-3" id="leftPanel">
            <div id="imageAbcd1234">
                <img alt="" src="images/smart.logo.small.png"
                    class="pointer">
            </div>
            
            <br>
            
            <h3>Ballot Configuration Name</h3>
            <div class="row col-xs-12" style="padding-bottom: 30px">
                <!-- /.col-lg-6 -->
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-btn smtt-dropdown">
                            <button type="button" title="Shows a dialog to load existing definitions"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                                <i class="fa fa-bars" style="margin-right: 0px"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a data-target="#load-ballot-config-modal" data-toggle="modal">Load ballot configuration</a></li>
                                <li><a>Load another definition...</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
            
            <div style="padding-bottom: 10px">
                <h3>Contest templates</h3>
            </div>
            <div class="row col-xs-12" style="padding-bottom: 20px">
                <div id="imgDummy01" class="col-xs-3 thumbnail">
                    <img alt="" src=""
                        class="pointer">
                </div>
                <div id="imgDummy02" class="col-xs-3 thumbnail">
                    <img alt="" src=""
                        class="pointer">
                </div>
                <div id="imgDummy03" class="col-xs-3 thumbnail">
                    <img alt="" src=""
                        class="pointer">
                </div>
            </div>

            <div style="padding-bottom: 10px">
                <h3>Static templates</h3>
            </div>
            <div class="row col-xs-12" style="padding-bottom: 20px">
                <div id="imgSmart" class="col-xs-3 thumbnail">
                    <img alt="" src="images/smart.logo.small.png"
                        class="pointer">
                </div>
                <div id="imgInstructions" class="col-xs-3 thumbnail">
                    <img alt="" src="images/staticInstructions.png"
                        class="pointer">
                </div>
                <div id="imgCompletedVoting" class="col-xs-3 thumbnail">
                    <img alt="" src="images/staticCompletedVoting.png"
                        class="pointer">
                </div>
                <div id="imgCertify" class="col-xs-3 thumbnail">
                    <img alt="" src="images/staticCertify.png"
                        class="pointer">
                </div>
            </div>

            <br>
            <br>
            <br>
             <!-- 
            <div id="templateAbcd1234" data-bo-template="ballotOption" 
                class="col-xs-12 col-sm-6 col-md-4 col-lg-3 bo-card ng-scope" style="width: 335px; height: 150px" 
                draggable="true" ondragstart="ballotDesignerScope.drag(event)">
                <div class="bo-border">
                    <div class="bo-candidate"
                        >
                        <img class="bo-image" src="images/silueta.png">
                    </div>
                    
                    <div class="bo-info">
                        <div
                            class="bo-ballot-name ng-pristine ng-untouched ng-valid ng-scope ng-not-empty">
                            ${candidate.Name}
                        </div>
                        <div
                            class="bo-party-title ng-pristine ng-untouched ng-valid ng-binding ng-scope 
                            ng-not-empty">${party.Title}
                        </div>
                    </div>
                    <div class="bo-order">
                        <button onclick="ballotDesignerScope.deleteBallotOptionTemplate()" 
                            class="btn btn-sm btn-default" title="Eliminar">
                            <i class="fa fa-trash"></i>
                        </button>
                        <input type="text" value="#" data-original-value="#"
                            maxlength="3" readonly="readonly">
                    </div>
                    <div class="bo-party">
                        <img class="bo-image" src="images/noImage.gif">
                    </div>
                </div>
            </div>
             -->
            <br>
            <br>

            <div class="list-group col-xs-12">
                <div style="width: 300px; padding-bottom: 10px">
                    <h3>Select a contest class</h3>
                </div>
                <div id="list"
                    style="max-height: 125px; width: 300px; overflow-y: scroll">
                    <button type="button" class="list-group-item"
                        ng-repeat="contestClass in vm.contestClasses">
                        <div id="cc{{contestClass.code}}"
                            data-type="contestClass" draggable="true"
                            ondragstart="ballotDesignerScope.drag(event)">{{contestClass.name}}</div>
                    </button>
                </div>
            </div>

            <div class="bo-border">
                panel test
                <button
                    onclick="ballotDesignerScope.deleteBallotOptionTemplate()"
                    class="btn btn-sm btn-default" title="Eliminar">
                    <i class="fa fa-trash" onclick="ballotDesignerScope.deleteBallotOptionTemplate()" title="Delete"></i>
                </button>
            </div>

        </div>
        
        <div class="col-xs-9" id="rightPanel">
            <br>
            <div class="contentLayout2" id="pageCanvas" ng-mousedown="vm.selectedElement($event)">
                <div class="columnLayout single" data-layout="single">
                    <div class="cell normal" data-type="normal"
                        ondrop="ballotDesignerScope.drop(event)" ondragover="ballotDesignerScope.allowDrop(event)">
                        <div class="innerCell" contenteditable="true">
                            <p>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        
        <div class="col-xs-9" id="rightPanelActionButtons">
            <div class="row pull-right" style="padding-right: 5px">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button class="btn btn-sm" title="Cancel the current modifications">Cancel</button>
                    <button class="btn btn-sm" title="Save the ballot configuration under another name (creates a copy)">Save as...</button>
                    <button class="btn btn-sm" title="Save the current ballot configuration">Save</button>
                </div>
            </div>
        </div>
        
<!-- Fiduciary mark configuration dialog  -->
        <div class="modal fade" id="fiduciary-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id="popup" class="container-fluid">
                        <h1 class="modal-header header-title">Fiduciary marks definition</h1>
                    </div>
                    <div class="alert alert-danger" ng-show="validationError">{{vm.validationError}}</div>
                    <div class="modal-body">
                        <form role="form">
                            <h4>Mark definition (for rows)</h4>
                                <hr style="margin-top: 0px" />
                            <div class="form-group row form-horizontal">
                                <label for="name" class="col-xs-3 control-label">Mark height:</label>
                                <div class="col-xs-3">
                                    <input class="form-control" type="text"
                                        value=""
                                        name="name" max-length="7"
                                        id="row-mark-height" required>
                                </div>
                                <label for="name" class="col-xs-3 control-label">Mark width:</label>
                                <div class="col-xs-3">
                                    <input class="form-control" type="text"
                                        value=""
                                        name="name" max-length="7"
                                        id="row-mark-width" required>
                                </div>
                            </div>
                            <div class="form-group row form-horizontal">
                                <label for="name" class="col-xs-3 control-label">Separation:</label>
                                <div class="col-xs-3">
                                    <input class="form-control" type="text"
                                        value=""
                                        name="name" max-length="7"
                                        id="row-mark-separation" required>
                                </div>
                            </div>
                            <div class="form-group row form-horizontal">
                                <label for="name" class="col-xs-3 control-label">Top margin:</label>
                                <div class="col-xs-3">
                                    <input class="form-control" type="text"
                                        value=""
                                        name="name" max-length="7"
                                        id="row-mark-top-margin" required>
                                </div>
                                <label for="name" class="col-xs-3 control-label">Bottom margin:</label>
                                <div class="col-xs-3">
                                    <input class="form-control" type="text"
                                        value=""
                                        name="name" max-length="7"
                                        id="row-mark-bottom-margin" required>
                                </div>
                            </div>
                            
                            <br>
                            <h4>Mark definition (for columns)</h4>
                                <hr style="margin-top: 0px"/>
                            <div class="form-group row form-horizontal">
                                <label for="name" class="col-xs-3 control-label">Mark height:</label>
                                <div class="col-xs-3">
                                    <input class="form-control" type="text"
                                        value=""
                                        name="name" max-length="7"
                                        id="column-mark-height" required>
                                </div>
                                <label for="name" class="col-xs-3 control-label">Mark width:</label>
                                <div class="col-xs-3">
                                    <input class="form-control" type="text"
                                        value=""
                                        name="name" max-length="7"
                                        id="column-mark-width" required>
                                </div>
                            </div>
                            <div class="form-group row form-horizontal">
                                <label for="name" class="col-xs-3 control-label">Separation:</label>
                                <div class="col-xs-3">
                                    <input class="form-control" type="text"
                                        value=""
                                        name="name" max-length="7"
                                        id="column-mark-separation" required>
                                </div>
                            </div>
                            <div class="form-group row form-horizontal">
                                <label for="name" class="col-xs-3 control-label">Left margin:</label>
                                <div class="col-xs-3">
                                    <input class="form-control" type="text"
                                        value=""
                                        name="name" max-length="7"
                                        id="column-mark-left-margin" required>
                                </div>
                                <label for="name" class="col-xs-3 control-label">Right margin:</label>
                                <div class="col-xs-3">
                                    <input class="form-control" type="text"
                                        value=""
                                        name="name" max-length="7"
                                        id="column-mark-right-margin" required>
                                </div>
                            </div>
                            
                            <div class="row modal-footer">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <button class="btn btn-sm plain-round-button" title="Cancel" data-dismiss="modal">Cancel</button>
                                    <button class="btn btn-sm plain-round-button" title="Save">Ok</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
<!-- Page format modal dialog  -->
        <div class="modal fade" id="page-format-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id="popup" class="container-fluid">
                        <h1 class="modal-header header-title">Page configuration</h1>
                    </div>
                    <div class="alert alert-danger" ng-show="validationError">{{vm.validationError}}</div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group row form-horizontal">
                                <label for="name" class="col-xs-3 control-label">Page height:</label>
                                <div class="col-xs-3">
                                    <input class="form-control" type="text"
                                        value=""
                                        name="name" max-length="7"
                                        id="page-height" required>
                                </div>
                                <label for="name" class="col-xs-3 control-label">Page width:</label>
                                <div class="col-xs-3">
                                    <input class="form-control" type="text"
                                        value=""
                                        name="name" max-length="7"
                                        id="page-width" required>
                                </div>
                            </div>
                            <div class="row modal-footer">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <button class="btn btn-sm plain-round-button" title="Cancel" data-dismiss="modal">Cancel</button>
                                    <button class="btn btn-sm plain-round-button" title="Save">Ok</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
<!-- Load ballot configuration modal dialog  -->
        <div class="modal fade" id="load-ballot-config-modal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Load ballot configuration</h4>
                    </div>
                    <div class="modal-body">
                        <div id="list" 
                            style="max-height: 125px; overflow-y: scroll">
                            <button type="button" class="list-group-item"
                                ng-repeat="ballotConfiguration in vm.ballotConfigurations">
                                <div id="ballotConfig{{ballotConfiguration.code}}"
                                    data-type="ballotConfiguration">{{ballotConfiguration.name}}</div>
                            </button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm" title="Cancel" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-sm" title="Ok" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>